.cards-parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; //made grid have 4 columns
    grid-column-gap: 1.875rem;
    padding-left: 18.125rem;
    padding-right: 18.125rem;
    padding-bottom: 3.125rem;
   
}

.cards-child {
    background: var(--card-bg);
    border-radius: 5px;
    text-align: center;
    border-top: 5px solid;
    
    h1 {
        color: $desaturated-blue;
        font-size: 14px;
        padding-top: 4.0625rem;
        padding-bottom: 0.9375rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2 {
        font-size: 50px;
        padding-top: 0.9375rem;
        padding-bottom: 0.3125rem;
        
    }
    
    h3 {
        color: $desaturated-blue;
        padding-top: 0.3125rem;
        padding-bottom: 0.9375rem;
        font-weight: normal;
        letter-spacing: 3px;
    }

    h4 {
        padding-top: 0.9375rem;
        padding-bottom: 2.1875rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .up {
        color: $lime-green;
    }
    
    .down {
        color: $bright-red;
    }
}

.cards-child:nth-child(1) {
    border-top-color: $facebook;
}

.cards-child:nth-child(2) {
    border-top-color: $twitter;
}

.cards-child:nth-child(3) {
    border-top-color: hsl(37, 97%, 70%);
  }


.cards-child:nth-child(4) {
    border-top-color: $youtube;
}



h5 {
    font-size: 20px;
    padding-left: 18.125rem;
    padding-bottom: 25px;
}

.cards-parent2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; //made grid have 4 columns
    grid-column-gap: 1.875rem;
    grid-row-gap: 20px;
    padding-left: 18.125rem;
    padding-right: 18.125rem;
    padding-bottom: 2.5rem;
   
    .cards-child2 {
        background: var(--card-bg);
        border-radius: 5px;
        //text-align: center;
        border-top: 5px;

        h6 {
            font-size: 14px;
            color: $desaturated-blue;
            padding-top: 30px;
            padding-left: 2.1875rem;
            padding-right: 2.1875rem;
            padding-bottom: 15px;
        }
        

        h7 {
            font-size: 30px;
            font-weight: 700;
            //padding-top: 15px;
            //padding-left: 2.5rem;
            //padding-right: 2.5rem;
        }

        h8 {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .up {
        color: $lime-green;
    }
    
    .down {
        color: $bright-red;
    }
}

.page-title2 { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
    padding-bottom: 25px;
}