
.toggle-container {
    display: flex;
    justify-content: space-between; // made the checkbox go to the right of the screen
    align-items: center;
    padding-top: 1.125rem;
    padding-right: 18.125rem;
  
    p {
      color: var(--text-gray);
      font-weight: 700;
      margin-right: 1rem;
    }
  

  }
  
  .toggle {
    cursor: pointer;
    display: inline-block;
  }
 
  .toggle-switch {
    display: inline-block;
    background: $toggle-dark;
    border-radius: 1rem;
    width: 3.625rem; //size of switch
    height: 2rem;
    position: relative;
    vertical-align: middle;

    &:before,
    &:after {
      content: "";
    }
    
    &:before {
      display: block;
      background: var(--top-bg);
      border-radius: 50%;
      width: 1.5rem; //size of circle inside switch
      height: 1.5rem;
      position: absolute;
      top: 0.25rem;
      left: 0.25rem;
      transition: left 0.25s; //transition time for button going left and right
     
    }

    .toggle-checkbox:checked + & {
      background: $toggle-light;
      &:before {
        left: 30px; //makes the button move to the right
      }
    }
  }
  
  .toggle-checkbox {
    position: absolute;
    visibility: hidden;
  }
  