// Primary Colors

$lime-green: hsl(163, 72%, 41%);
$bright-red: hsl(356, 69%, 56%);

$facebook: hsl(208, 92%, 53%);
$twitter: hsl(203, 89%, 53%);
$instagram: linear-gradient(hsl(37, 97%, 70%) to hsl(329, 70%, 58%));
$youtube: hsl(348, 97%, 39%);

// Dark Theme Colors
$very-dark-blue-bg: hsl(230, 17%, 14%); //background
$very-dark-blue-tbg: hsl(232, 19%, 15%); //top bg pattern
$dark-desaturated-blue: hsl(228, 28%, 20%); //card background
$desaturated-blue: hsl(228, 34%, 66%); //text
$white: hsl(0, 0%, 100%); //text

$toggle-dark: linear-gradient(45deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));


.dark {
    --bg: hsl(230, 17%, 14%);
    --top-bg: hsl(232, 19%, 15%);
    --card-bg: hsl(228, 28%, 20%);
    --text-gray: hsl(228, 34%, 66%);
    --text-white: hsl(0, 0%, 100%); 
}

// Light Theme Colors
$white: hsl(0, 0%, 100%);
$very-pale-blue: hsl(225, 100%, 98%);
$light-grayish-blue: hsl(227, 47%, 96%);
$dark-grayish-blue: hsl(228, 12%, 44%);
$very-dark-blue: hsl(230, 17%, 14%);

$toggle-light: hsl(230, 22%, 74%);

.light {
    --bg: hsl(0, 0%, 100%);
    --top-bg: hsl(225, 100%, 98%);
    --card-bg: hsl(227, 47%, 96%);
    --text-black: hsl(228, 12%, 44%);
    --text-gray: hsl(230, 17%, 14%);
}